.activity-items .emoji {
    width: 20px;
    height: 20px;
}

.activity-list-item {
    background-color: rgba(174,107,182,0.32);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 52.25% 20px 10px;
}

.activity-list-item + .activity-list-item {
    margin-top: 20px;
}

.activity-list-item .activity-description {
    margin-bottom: 0;
}

.starred-at::before {
    content: "⭐️";
    padding-right: 4px;
}

.starred-at {
    display: block;
    margin-top: 10px;
}