[data-header] {
    display: flex;
    align-items: center;
    margin: 0 20px;
    padding: 10px 0;
}

[data-header] h1 {
    color: white;
    flex-shrink: 0;
    font-family: var(--font-text);
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    text-align: right;
}

[data-header] nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

[data-header] nav a {
    font-family: sans-serif;
    margin-left: 16px;
    padding-bottom: 4px;
    position: relative;
    text-decoration: none;
}

[data-header] nav a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.5px;
    background-color: white;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

[data-header] nav a:hover::before,
[data-header] nav a.active::before {
    transform-origin: left;
    transform: scaleX(1);
}

[data-header] nav a.active {
    margin-top: -4px;
}

[data-header] svg {
    width: 206px;
}

[data-header] svg path {
    fill: var(--color-bright);
}