@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");

:root {
    --font-text: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
    background-color: rgb(30, 10, 80);
    margin: 0;
}

header::before {
    content: "";
    display: block;
    position: relative;
    height: 4px;
    background: linear-gradient(116deg, cyan 0%, rebeccapurple 40%, deeppink 90%);
}

main {
    color: white;
    padding: 0 20px;
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr min(65ch, calc(100% - 64px)) 1fr;
}

main section {
    font-family: "Oswald", sans-serif;
    grid-column: 2;
}

main section.full {
    grid-column: 1 / -1;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.4rem;
}

a {
    color: white;
    font-family: var(--font-text);
}

p, li {
    font-family: var(--font-text);
}

blockquote {
    border-left: 2px solid white;
    margin: 0;
    padding-left: 20px;
}

#hero {
    display: grid;
    place-content: center;
    height: 30em;
}

.timestamp {
    /* margin-left: -50px; */
}

.timestamp-year {
    font-size: 12px;
    border: 0.5px solid white;
    border-radius: 16px;
    padding: 2px 4px;
    margin-left: 4px;
}

.github-starred-item,
.twitter-liked-item {
    background-color: rgba(230,230,230,0.2);
    padding: 10px 15px;
    border-radius: 10px;
    margin-left: 40px;
    position: relative;
}

.github-starred-item + .github-starred-item,
.twitter-liked-item + .twitter-liked-item {
    margin-top: 20px;
}

.github-starred-item::before {
    content: "⭐️";
    position: absolute;
    left: -22px;
    top: 50%;
    transform: translateY(-50%);
}

/* .twitter-liked-item {

} */